{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'board/css/style.css' ">
</head>
<div class="section">
    <table class="table">
        <thead>
            <tr>
                <th>번호</th><th>제목</th><th>작성일</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
                {% for question in question_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                       <a href="{% url 'board:detail' question.id %}" class="text-decoration-none">
                           {{ question.subject }}
                       </a>
                    </td>
                    <td>{{ question.create_date }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>질문이 없습니다.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'board:question_create' %}" class="btn btn-primary">질문등록</a>

</div>

{% endblock %}