{% extends 'base.html' %}
{% block content %}
<div class="container">
  <section>
    <h1>블로그 디테일이다.</h1>

    <h3>
      <a>{{ post.title }}</a>
    </h3>
    <h5 style="white-space: pre-line; line-height: 1.5;">{{ post.content }}</h5>
    <p>{{ post.pub_date }}</p>
    {% if post.photo %}
      <img src="{{ post.photo.url }}" alt="블로그사진" srcset="">
    {% endif %}
    {% if post.file %}
     <a href="{{ post.file.url }}" download class="btn btn-outline-dark">
       Download :
       {% if post.get_file_ext == 'csv' %}
          <i class="fa-solid fa-file-csv"></i>
       {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
          <i class="fa-solid fa-file-excel"></i>
       {% else %}
       <i class="fa-solid fa-file"></i>
       {% endif %}
    {{ post.get_file_name }}</a>
    {% endif %}
  </section>

  <aside>
    <h4>분류(Categories)</h4>
    <div>
      <ul>
        {% for category in categories %}
          {% if current_category.slug == category.slug %}
            <li style="background: #ff0;">
              <a href="{{ category.get_absolute_url }}">
                {{ category.name }}({{ category.post_set.count }})
              </a>
            </li>
          {% else %}
            <li>
              <a href="{{ category.get_absolute_url }}">
                {{ category.name }}({{ category.post_set.count }})
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </aside>
</div>
{% endblock %}
