{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
  <section id="post_list">
      <h2>블로그 홈</h2>
      {% if post_list %}
        {% for post in post_list %}
            <hr>
            {% if post.category %}
                <h6 class="text-end">[{{ post.category }}]</h6>
            {% endif %}
            <h5>
                <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>
            </h5>
            <p>
                작성자: {{ post.author }} (작성일: {{ post.pub_date }}) |
                {% if post.author == request.user  %}
                <a href="#" class="delete"
                   data-uri="{% url 'blog:post_delete' post.id %}">삭제</a>
                {% endif %}
            </p>
            <!-- <p style="white-space: pre-line; line-height: 1.5em">-->
                <p> {{ post.content | linebreaks }}
            <!-- </p>-->
            {% if post.photo %}
                <img src="{{ post.photo.url }}">
            {% endif %}
        {% endfor %}
      {% else %}
        <p>포스트가 없습니다.</p>
      {% endif %}
  </section>
    <!-- 검색 폼 -->
<div class="row">
    <div class="col-md-5" style="margin-right: 65px;">
        <div class="card my-3 px-1">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <input type="text" class="kw form-control" value="{{kw}}">

                    <button type="button" id="btn_search" class="btn btn-outline-secondary" style="margin-top:5px;">찾기</button>

            </div>
        </div>
    </div>

    <!-- 카테고리 -->
    <div class="col-md-5">
        <aside>
            <h4>분류(Categories)</h4>
            <div>
                <ul>
                    <li style="background: #eee">
                        <a href="{% url 'blog:post_list' %}">
                            전체보기 ({{ post_list2 }})
                        </a>
                    </li>
                    {% for category in categories %}
                        {% if current_category.slug == category.slug %}
                            <li style="background: #eee">
                                <a href="{{ category.get_absolute_url }}">
                                    {{ category.name }}({{ category.post_set.count }})
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ category.get_absolute_url }}">
                                    {{ category.name }}({{ category.post_set.count }})
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </aside>
    </div>
</div>

  </aside>
  <section id="paging">
      <ul>
      <!-- 이전 페이지-->
      {% if post_list.has_previous %}
          <li><a href="?page={{ post_list.previous_page_number }}">&laquo;</a></li>
      {% else %}
          <li>&laquo;</li>
      {% endif %}
      <!-- 페이지 리스트 -->
      {% for page_number in post_list.paginator.page_range %}
          {% if page_number == post_list.number %}
            <li>
                <a href="?page={{ page_number }}" class="active">{{ page_number }}</a>
            </li>
          {% else %}
            <li>
                <a href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% endif %}
      {% endfor %}
      <!-- 다음 페이지-->
      {% if post_list.has_next %}
          <li><a href="?page={{ post_list.next_page_number }}">&raquo;</a></li>
      {% else %}
          <li>&raquo;</li>
      {% endif %}
      </ul>
  </section>
        <form action="" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw">
    </form>

</div>
{% endblock %}
{% block script  %}
<script>
    // 삭제 처리
    $(function(){
        $('.delete').click(function(){
            if(confirm('포스트를 정말로 삭제하시겠습니까?')){
                location.href=$(this).data('uri');
            }
        });

        // 검색처리

        $('#btn_search').click(function(){
           $('#kw').val($('.kw').val())  // 입력폼의 키워드값 가져와서 hidden으로 설정
           $('#searchForm').submit()      // 검색폼을 전송함

        })

    });
</script>
{% endblock %}

