{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <section id="signup">
        <div class="row">
            <div class="col-4">
                <h4>회원 가입</h4>
            </div>
            <div class="col-8 text-end">
                <span>
                    또는 <a href="{% url 'common:login' %}">로그인 하세요</a>
                </span>
            </div>
        </div>
      <form action="" method="post" class="my-3">
          {% csrf_token %}
          {% include 'form_errors.html' %}
          <div class="form-group">
              <label for="username">사용자ID</label>
              <input type="text" id="username" name="username" class="form-control my-2"
                     value="{{ form.username.value|default_if_none:'' }}">
          </div>
          <div class="form-group">
              <label for="password1">비밀번호</label>
              <input type="password" id="password1" name="password1" class="form-control my-2"
                     value="{{ form.password1.value|default_if_none:'' }}">
          </div>
          <div class="form-group">
              <label for="password1">비밀번호 확인</label>
              <input type="password" id="password2" name="password2" class="form-control my-2"
                     value="{{ form.password2.value|default_if_none:'' }}">
          </div>
          <div class="form-group">
              <label for="email">이메일</label>
              <input type="text" id="email" name="email" class="form-control my-2"
                     value="{{ form.email.value|default_if_none:'' }}">
          </div>
          <button type="submit" class="btn btn-primary my-3">등록하기</button>
      </form>
  </section>
</div>
{% endblock %}