<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>OCR - 문자 인식</title>
    <link rel="stylesheet" href="{% static '/poll/css/style.css' %}">
</head>
<body>
    <div id="container">
        <section id="ocr">
            <h1>Tesseract를 이용한 광학 문자 판독</h1>
            <h3>▣ 파일을 선택해 주세요.</h3>
            <form action="{% url 'ocr:ocr_upload' %}" method="post"
                  enctype="multipart/form-data" id="uploadForm">
                {% csrf_token %}
                <p><input type="file" name="uploadfile" id="uploadfile"></p>
                <p><button type="submit">READ</button></p>
            </form>
            <!-- 이미지 및 인식 결과 출력 -->
            <table width="100%">
                <tr>
                    <td width="50%">
                        {% if imgname == '' %}
                        <h3>☞ 이미지를 READ해 주세요</h3>
                        {% else %}
                            <img src="/static/source/{{ imgname }}" width="500" height="400">
                        {% endif %}
                    </td>
                    <td width='50%'>
                        <pre>
                        {{ result_text }}
                        </pre>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</body>
</html>